*.class

# Package Files #
*.jar
*.war
*.ear
/CheckEmail/nbproject/private/
/CheckEmail/build/
/CheckBraces/nbproject/private/
/CheckBraces/build/
/CombCoins/nbproject/private/
/CombCoins/build/
/AllWays/nbproject/private/
/AllWays/build/
/HashTable/nbproject/private/
/HashTable/build/
/Interpreter/nbproject/private/
/Interpreter/build/
/SQRTDouble/nbproject/private/
/SQRTDouble/build/
/UniSort/nbproject/private/
/UniSort/build/
/SolarSystem/nbproject/private/
/SolarSystem/build/
/Palindrome/nbproject/private/
/Palindrome/build/
/PartlyCloudy/nbproject/private/
/PartlyCloudy/build/
/Calculator/nbproject/private/
/Calculator/build/
/MultMatr/nbproject/private/
/MultMatr/build/