*.class

# Package Files #
*.jar
*.war
*.ear
/Universe/build/
/SendMail/nbproject/private/
/Mail/nbproject/private/
/planet/nbproject/private/
/planet/build/
/CheckEmail/nbproject/private/
/CheckEmail/build/
/CheckBraces/nbproject/private/
/CheckBraces/build/
/AllWays/nbproject/private/
/AllWays/build/
/SQRTDouble/nbproject/private/
/SQRTDouble/build/
/UniSort/nbproject/private/
/UniSort/build/
/CombCoins/nbproject/private/
/CombCoins/build/
/SendMail/build/
/SendMail/dist/
/HashTable/build/
/HashTable/dist/
/SolarSystem/nbproject/private/
/HashTable/nbproject/private/
/Palindrome/nbproject/private/
/SolarSystem/build/
/Palindrome/build/
/Interpreter/build/
/PartlyCloudy/build/